
  /* CSS Custom Properties */
  
  
  body {
    display: grid;
   
    background-color: #78bf94;
    height: 100vh; 
    margin: 0;
    grid-template-rows: 3rem auto; 
    color: black;
  }
  
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    font-size: larger;
    font-style: italic;
  }

   li {
    display: inline-block;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

.greeting {
  font-size: 30px;
  font-weight: bolder;
  padding: 25px 0 50px 0; 
}
/* 
.aboutMe {
  text-align: center;
  padding: 15px 575px 0 150px;
} */

.aboutMe {
  text-align: center;
  /* padding: 15px 900px 0 150px; */
}

/* #about-me {
  text-align: center;
  padding: 15px 900px 0 150px;
}*/

#about {
  text-align: center;
  padding: 0px 500px 0 500px;
}


/* #contact-me {
  text-align: center;
  padding 15px 900px 0 150px;
} */
/* .aboutMe {
  text-align: center;
  padding: 15px 900px 0 150px;
} */

.projects {
  text-align: center;
  /* 15px 125px 0 875px; */
}

.contact-me {
  text-align: center;
  /* padding: 15px 875px 0 125px; */
}

#contact {
  font-style: italic;
  /* padding: 0 0 800px 0; */
}

#about-me {
  font-style: italic;
}

#project-one {
  text-align: center;
  /* padding 15px 125px 0 875px;
} */

#portfolio {
  text-align: center;
  padding 15px 125px 0 875px;
  font-style: italic;
}

body{
  flex;
}
